<div class="form__input">
    <div class="form__input__warpper relative" [formGroup]="parentForm">
        <input [type]="input.type" [name]="input.name" [id]="input.id" [formControlName]="input.name" [value]="input.value" class="w-full peer placeholder:text-transparent border-2 border-indigo-100 py-2 px-4 rounded focus:outline-main" placeholder="name">
        <label class="absolute left-0 ml-1 -translate-y-3 duration-100 ease-linear bg-white text-gray-400 px-1 text-sm capitalize peer-placeholder-shown:translate-y-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-secondary-clr peer-focus:ml-1 peer-focus:-translate-y-3 peer-focus:px-1 peer-focus:text-sm peer-focus:text-main">{{ input.label }}</label>
    </div>
</div>