<div class="form">
    <div class="form__container container mx-auto">
        <div class="form__wrapper">
<!--            <form [method]="form.method" [formGroup]="formGroup" class="flex flex-col gap-5">-->
<!--                <div *ngFor="let input of form.formInputs" class="form__control">-->
<!--&lt;!&ndash;                    <app-form-input *ngIf="input.type !== 'submit'" [input]="input" [parentForm]="formGroup"></app-form-input>&ndash;&gt;-->
<!--                    <button *ngIf="input.type === 'submit'" type="submit" [id]="input.id" (click)="submitForm()" class="w-full py-2 px-4 bg-main text-white capitalize rounded cursor-pointer">-->
<!--                        {{input.label}}-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
        </div>
    </div>
</div>
